@font-face {
    font-family: 'sixtyseven';
    src: url('../fonts/sixtyseven-bold.woff2') format('woff2'),
         url('../fonts/sixtyseven-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'sixtyseven';
    src: url('../fonts/sixtyseven-regular.woff2') format('woff2'),
         url('../fonts/sixtyseven-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background: url('/img/bg.jpg');
	font-family: 'sixtyseven';
	color: #fff;
}