@font-face {
    font-family: 'sixtyseven';
    src: url('../fonts/sixtyseven-bold.woff2') format('woff2'),
         url('../fonts/sixtyseven-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'sixtyseven';
    src: url('../fonts/sixtyseven-regular.woff2') format('woff2'),
         url('../fonts/sixtyseven-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	min-width: 100%;
	min-height: 100%;
	background: url('/img/bg.jpg')  no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

@media only screen and (max-width: 480px) {
	html {
		background-position: -50px center;
	}
}


body {
	background: transparent;
	direction: rtl;
	font-family: 'sixtyseven';
	color: #fdebbd;
	font-size: 1.2em;
}

.content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 20px;
	justify-content: center;
}

strong {
	font-size: 24px;
}

p {
	font-size: 20px;
}

h1 {
	color: #fffef2;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:focus,
a:active,
a:hover {
	color: #fff;
	text-decoration: none;
}

.questionnaire-frame-wrapper {
	position: fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.questionnaire-frame {
	height: 100%;
	width: 100%;
}